#presentation {
    color: black;
    text-align: center;
    padding: 5% 3% 5% 3%;
    margin-top: -3%;
    background-color: #FFEFF3;
}

#presentation h2 {
    text-align: center;
    padding-bottom: 30px;
}

.img-presentation {
    position: relative;
    top: 20px;
}


/* Media query pour empêcher le thème sombre */
@media (prefers-color-scheme: dark) {
    #presentation {
        color: black;
        background-color: #FFEFF3;
    }
}