#presentation {
    color: black;
    text-align: center;
    padding: 3% 3% 5% 3%;
    margin-top: -1%;
    background-color: rgb(247, 212, 229, 0.4);
}

#presentation h2 {
    text-align: center;
    padding-bottom: 30px;
}

.img-presentation {
    position: relative;
    top: 20px;
}