#projects {
    color: black;
    padding: 3% 3% 3% 3%;
    background-color: rgb(247, 212, 229, 0.4);
}

#projects h2 {
    text-align: center;
}

#projects h3 {
    text-align: center;
    margin-top: 3em;
}


/* Projets réalisés */

.accomplished {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px grey ;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.accomplished h4 {
    display: flex;
    justify-content: center;
}

.accomplished img {
    display: flex;
    justify-content: center;
    max-width: 90%;
}

.accomplished img:hover {
    max-width: 100%;
    box-shadow: 5px 5px rgb(54, 54, 54);
}

.accomplished button {
    margin-top: 2em;
    background-color: rgb(236, 232, 232);
    border: 0.2px solid black;
}

.accomplished button:hover {
    margin-top: 2em;
    color: rgb(114, 44, 245);
    background-color: rgb(236, 232, 232);
    border: 0.2px solid black;
}


/* Projets en cours */

.in-progress {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px grey ;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 250px;
    height: auto;
}

.in-progress p {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}