#projects {
    color: black;
    padding: 3% 3% 3% 3%;
    background-color: #FFEFF3;
}

#projects h2 {
    text-align: center;
}

#projects h3 {
    text-align: center;
    margin-top: 3em;
}


/* Projets réalisés */

.article-projects-accomplished {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.accomplished {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px grey ;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 350px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.accomplished h4 {
    display: flex;
    justify-content: center;
}

.accomplished img {
    display: flex;
    justify-content: center;
    max-width: 90%;
}

.accomplished img:hover {
    box-shadow: 5px 5px rgb(54, 54, 54);
}

.accomplished button {
    margin-top: 2em;
    background-color: rgb(236, 232, 232);
    border: 0.2px solid black;
}

.accomplished button:hover {
    margin-top: 2em;
    color: rgb(114, 44, 245);
    background-color: rgb(236, 232, 232);
    border: 0.2px solid black;
}


/* Media queries pour projets réalisés */

/* Media query pour les écrans allant jusqu'à 850px */
@media only screen and (max-width: 850px) {
    .article-projects-accomplished {
        display: flex;
        flex-direction: column;
    }
}


/* Projets en cours */

.in-progress {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px grey ;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 250px;
    height: auto;
}

.in-progress p {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}


/* Media query pour empêcher le thème sombre */
@media (prefers-color-scheme: dark) {
    #projects {
        color: black;
        background-color: #FFEFF3;
    }
}