#skills {
    color: black;
    padding: 3% 3% 3% 3%;
}

#skills h2 {
    color: black;
    text-align: center;
    padding-bottom: 30px;
}

#skills h3 {
    color: black;
    margin-bottom: 1rem;
}

.skills-elements  {
    display: flex;
    justify-content: space-around;
}

.skillsTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}


/* Compétences Front-end */

.front-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.front-element img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin-bottom: 1.2rem;
}

.javascript {
    background-color: #F6DC3D;
    padding: 1.2rem 0.4rem 0.4rem 1.2rem;
}


/* Compétences Back-end */

.end-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.end-element img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin-bottom: 1.2rem;
}


/* Compétences autres */

.others-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.others-elements img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin-bottom: 1.2rem;
}