.introduction-section {
    color: black;
    position: relative;
}

.introduction-section h2 {
    position: absolute;
    top: 10%;
    left: 50%;
}

.introduction-section img {
    width: 100%;
    height: auto;
}

.align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.2em;
}

.align-center p {
    font-weight: bold;
}

.Policy-React {
    color: #14DAFE;
}


/* Medias queries pour le texte et le titre du Header */

/* Media query pour les écrans allant jusqu'à 768px */
@media only screen and (max-width: 768px) {
    .align-center {
        left: 45%;
        font-size: 1em;
    }


    .introduction-section h2 {
        left: 45%;
    }
}

/* Media query pour les écrans allant jusqu'à 568px */
@media only screen and (max-width: 568px) {
    .align-center {
        top: 45%;
        left: 35%;
        font-size: 1em;
    }

    .introduction-section h2 {
        left: 35%;
    }
}

/* Media query pour les écrans allant jusqu'à 495px */
@media only screen and (max-width: 495px) {
    .align-center {
        top: 40%;
        left: 30%;
        font-size: 1em;
    }

    .introduction-section h2 {
        left: 30%;
    }
}

/* Media query pour les écrans allant jusqu'à 405px */
@media only screen and (max-width: 405px) {
    .align-center {
        top: 30%;
        left: 15%;
        font-size: 1em;
    }

    .introduction-section h2 {
        left: 15%;
        font-size: 1.2em;
    }
}

/* Media query pour les écrans allant jusqu'à 325px */
@media only screen and (max-width: 325px) {
    .align-center {
        top: 30%;
        left: 10%;
        font-size: 0.9em;
    }

    .introduction-section h2 {
        top: -10%;
        left: 10%;
        font-size: 1.2em;
    }
}