.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    width: 100%;
}

.navbar h2 {
    color: black;
}

.navbar .nav-links ul {
    display: flex;
    justify-content: center;
}

.navbar .nav-links ul li {
    margin: 0px 25px;
}

.nav-links .button_nav {
    color: black;
    font-weight: bold;
    border-radius: 3px;
    padding: 0.5rem;
}

.button_nav:hover {
    font-weight: bold;
    color: rgb(247, 133, 190);
}

.button_icon {
    position: relative;
    left: 93%;
}

/* Media query pour les écrans allant jusqu'à 977px */
@media screen and (max-width: 977px) {
    .nav-links {
        visibility: hidden;
    }

    .show-nav .nav-links ul li {
        padding: 0.5rem;
    }

    .show-nav .nav-links {
        display: flex;
        flex-direction: column;
        visibility: visible;
        position: relative;
        text-align: right;
    }

    .show-nav h2 {
        color: black;
        visibility: visible;
        position: absolute;
        left: 5%;
    }

    .navbar h2 {
        color: black;
        position: absolute;
        padding-bottom: 6rem;
    }
}

/* Media query pour les écrans à partir de 978px */
@media screen and (min-width: 978px) {
    .nav-links {
        visibility: visible;
    }

    .show-nav .nav-links {
        visibility: hidden;
    }
}
