.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    width: 100%;
}

.navbar h2 {
    color: black;
}

.navbar .nav-links ul {
    display: flex;
    justify-content: center;
}

.navbar .nav-links ul li {
    margin: 0px 25px;
}

.nav-links .button_nav {
    color: black;
    font-weight: bold;
    border-radius: 3px;
    padding: 0.5rem;
}

.button_nav:hover {
    font-weight: bold;
    color: rgb(247, 133, 190);
}

.button_icon {
    position: relative;
    left: 93%;
}


/* Media query pour empêcher le thème sombre */
@media (prefers-color-scheme: dark) {
    .navbar {
        color: black;
        background-color: white;
    }

    .show-nav {
        color: black;
        background-color: white;
    }
    
    .nav-links .button_nav {
        color: black;
        font-weight: bold;
        border-radius: 3px;
        padding: 0.5rem;
    }
    
    .button_nav:hover {
        font-weight: bold;
        color: rgb(247, 133, 190);
    }
}


/* Style pour la navbar ouverte (hauteur plus grande) */
.show-nav.nav-links.open {
    height: 17rem;
}

/* Media query pour les écrans allant jusqu'à 977px */
@media screen and (max-width: 977px) {
    .nav-links {
        visibility: hidden;
    }

    .show-nav .nav-links ul li {
        padding: 0.5rem;
    }

    .show-nav .nav-links {
        display: flex;
        flex-direction: column;
        visibility: visible;
        position: relative;
        text-align: right;
        top: 6rem;
    }

    .show-nav h2 {
        color: black;
        visibility: visible;
        position: absolute;
        left: 4%;
        top: 1.8rem;
    }

    .navbar h2 {
        color: black;
        position: absolute;
    }

    .button_icon {
        left: auto; 
        position: absolute;
        top: 1.5em; 
        right: 1.5em; 
    }
}

/* Media query pour les écrans à partir de 978px */
@media screen and (min-width: 978px) {
    .nav-links {
        visibility: visible;
    }

    .show-nav .nav-links {
        visibility: hidden;
    }
}


/* Media query pour les écrans allant jusqu'à 325px */
@media screen and (max-width: 325px) {
    .nav-links {
        visibility: hidden;
    }

    .show-nav .nav-links ul li {
        padding: 0.5rem;
    }

    .show-nav .nav-links {
        display: flex;
        flex-direction: column;
        visibility: visible;
        position: relative;
        text-align: right;
        top: 6rem;
    }

    .show-nav h2 {
        color: black;
        visibility: visible;
        position: absolute;
        left: 4%;
        top: 1.8rem;
        width: 50%;
    }

    .navbar h2 {
        color: black;
        position: absolute;
        width: 50%;
    }

    .button_icon {
        left: auto; 
        position: absolute;
        top: 1.5em; 
        right: 1.5em; 
    }
}